= semantic_form_for @content do |f|
  = f.input :identifier
  = f.label :body
  = f.rich_text_area :body
  .actions
    = f.actions do
      = f.action :submit, :as => :input, :button_html => {  class: 'btn btn-lg btn-primary' }
