.container
  .row.align-content-center.py-3
    .col-10
      .mb-3
        .badge.badge-primary EVERYTHING YOU NEED
        %h1.super-bold Online Business Guide

.container
  .row.justify-content-center
    -# .col-6.col-md-4
    -#   .hover-border.p-3.my-3
    -#     %h5 Internet Crash Course
    - @roadmaps.each_with_index do |roadmap, index|
      .col-12.my-3
        %a.color-black{ href: "/online-business-guide/#{roadmap.slug}", target: '_blank'}
          %h3
            = first_part_of_roadmap_title(roadmap.name)
            %span{ class: "font-weight-bold #{online_business_guide_roadmap_class(index)}" }
              = second_part_of_roadmap_title(roadmap.name)
            >
        = roadmap.description
  .row.mt-5
    -# .col-12
    -#   -# .jumbotron.p-4.my-3
    -#   .d-block
    -#     .circle-number.text-center.d-inline-block
    -#       %h4.d-inline-block 2
    -#     %h4.p-3.d-inline-block.text-uppercase.font-weight-bold Learn
    .col-12.mt-3
      -# = render 'courses/content_table'

.container
  .row
    .col-12
      .badge Need to take a step back and get back to basics? 
      %a{ href: "/online-business-guide/internet-and-website-crash-course", target: '_blank' }
        %h3.m-0
          Internet and Website Crash Course




















  -# .row
  -#   .col-12.text-center.my-5
  -#     %p Talk to a Map of Tech Engineer

-# .container.my-5
-#   .row
-#     .col-12
-#       -# .jumbotron.p-4.my-3
-#       .d-block
-#         .circle-number.text-center.d-inline-block
-#           %h4.d-inline-block 3
-#         %h4.p-3.d-inline-block.text-uppercase.font-weight-bold Execute
-#   .row.execute-cards-container
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Build a Site on the Map of Tech
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Create Shopify Store
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Host Wordpress Site
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Get Access To Commercy
-#         .cta-container.w-100
-#           .text-right.w-100
-#             .btn.btn-outline-primary
-#               More Info
-#             .btn.btn-primary
-#               Request Access
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Get Access To Youswers
-#         .cta-container.w-100
-#           .text-right.w-100
-#             .btn.btn-outline-primary
-#               More Info
-#             .btn.btn-primary
-#               Request Access
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Get Access To Widjet
-#         .cta-container.w-100
-#           .text-right.w-100
-#             .btn.btn-outline-primary
-#               More Info
-#             .btn.btn-primary
-#               Request Access
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Learn Programming
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Outsource Software Development
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Connect with a Bootcamp
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Get Certifications
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Get on our Recruitment Platform
-#     .col-12.col-md-6.col-lg-4
-#       .hover-border.p-3.my-3
-#         %h5 Get Help