.container.h-100{ style: 'max-width: 560px;'}
  .row.align-content-center.h-100
    - if @ebook.cover.attachment
      .col-5.col-md-4.text-center
        = image_tag @ebook.cover.service_url, style: 'width: 100%; max-width: 160px;'
      .col-7.col-md-8{ style: 'background: white'}
        .badge.p-0.m-0
          Free E-book
        %h1= @ebook.title
        = render '/leads/form'
    - else
      .col-12
        .badge.p-0.m-0
          Free E-book
        %h1= @ebook.title
        = render '/leads/form'
