.container.h-100{ style: 'max-width: 560px;'}
  .row.align-content-center.h-100
    - if @embeddable.base_cover.attachment
      .col-5.col-md-4.text-center
        = image_tag @embeddable.base_cover.service_url, style: 'width: 100%; max-width: 160px;'
      .col-7.col-md-8{ style: 'background: white'}
        %p.font-weight-bold= @embeddable.title
        = render '/leads/form'
    - else
      .col-12
        %p.font-weight-bold= @embeddable.title
        = render '/leads/form'
    